.nav-container{
    margin-left: 190px;
    justify-content: unset;
    height: 45px;
}

.search-btn button {
    border: none;
    padding: 5px 10px 0;
    margin-top: 3px;
    border-radius: 0 2px 2px 0;
}

.search input{
    border: none;
    margin: 3px 0 0 15px;
    padding: 7.5px;
    border-radius: 2px 0 0 2px;
    width: 350px;
}

.search mat-icon {
    padding-top: 2px
}

.login{
    margin: 3px 0 0 30px
}

.log-btn{
    
}

.login a{
    text-decoration: none;
    background: white;
    padding: 7px 30px;
    border-radius: 2px;
}

.seller-section{
    margin-left: 50px;
}

.seller-section a{
    color: white;
    text-decoration: none;
}

.more-section{
    margin-left: 50px;
}

.more-section a{
    color: white;
    text-decoration: none;
}

.cart-section{
    margin-left: 50px;
    color: white;
    text-decoration: none;
}

.none{
    display: none;
}

// styling dropdown menu





