.nav-container{
    margin-left: 190px;
}
.search-btn button {
    border: none;
    padding: 5px 10px 0;
    margin-top: 3px;
    border-radius: 0 2px 2px 0;
}

.search input{
    border: none;
    margin-top: 3px;
    padding: 6px;
    border-radius: 2px 0 0 2px;
}

.search mat-icon {
    padding-top: 2px
}

.log-btn a{
    text-decoration: none;
    background: white;
    padding: 5px 16px;
    border-radius: 2px;
}

.seller-section a{
    color: white;
    text-decoration: none;
}

.more-section a{
    color: white;
    text-decoration: none;
}



