<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid nav-container">
          <a class="navbar-brand" href="#">Ekart</a>
          <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <!-- <div class="input-group">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Button</button>
            </div>
          </div> -->
          <div class="search-bar">
            <form action="/search" class="d-flex">
                <div class="search">
                    <input type="text" placeholder="Search for products">
                </div>
                <div class="search-btn">
                    <button type="submit"><mat-icon>search</mat-icon></button>
                </div>
            </form>
          </div>
          
          <div class="log-btn">
            <!-- <button type="button" class="btn btn-light">Login</button> -->
            <a href="">Login</a>
          </div>
          <div class="seller-section">
            <a href=""><span>Become a Seller</span></a>
          </div>

          <div class="more-section">
            <a href=""><span>More</span></a>
          </div>

          <div class="cart-section">
            <a href=""><mat-icon>shopping_cart</mat-icon><span class="cart-icon">Cart</span></a>
          </div>

          <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div> -->
        </div>
      </nav>
</header>