.home-section{
    height: 150px;
}

.category{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.category a{
    text-decoration: none;
    color: black;
}

// .cat-title {
//     text-decoration: none;
//     color: black;
// }

.category img{
    height: 70px;
    width: 70px;
}

.product-img{
    text-align: center;
}

.card-aly{
    width: 18rem;
    margin-top: 40px;
}

.product-img img{
    height: 150px;
    width: 150px;

}
